$font-stack: "Titillium Web", "TitilliumWeb-Regular", "TitilliumWeb-Bold", Helvetica, Sans-serif;

$blue: #2F70B1;
$dark-blue: #212E44;
$yellow: #FCBD0F;
$yellow-light: #FFC628;
$black: #333;
$white: #fff;
$brown: #654822;
$violet: #8436DA;
$light-gray: #F0F0F0;
$gray: #bdbdbd;
$dark-gray: #AAAAAA;
$red: #ff3334;
$gold: #E6BB08;
$text-gray: #777777;



$warning-bg: #fcf8e3;
$warning-text: #8a6d3b;
$info-bg: #d9edf7;
$info-text: #31708f;

$text-color: $black;
$text-color-alt: $white;

$border-radius: 1px;