@import 'app/css/variables';
@import './side-drawer-page.component.scss';

/*

// Uncomment if you use a different sidebar style (on top of the content)

.side-drawer.Right {
    padding-left: 5;
    border-top-width: 25;
    border-top-color: $dark-blue;
}
*/